.wrapper{
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
    background-color: #F5FBF6;

}
.content {
    max-width: 1310px;  
    margin-bottom: 25px;
}